    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    
    }

    /* Encabezado */
    header {
      background-color: #fff;
      color: rgb(99, 136, 184);
      font-size: 20px;
      padding: 15px 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5px;
    }

    .main-header{
      background-color: #fff;
      display: flex;
      margin-right: 20px;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 10px;
    }

    .texto, .search-section, .right-content {
      display: flex;
      align-items: center;
      margin-right: 700px;
    }
    
    .iniciar-sesion, .botones{
      margin-right: 10px;
      
    }
    

    /*header 2 */
    .botones {
      background-color: #fff;
      text-align: center;
      height: 40px;
      
    }
    
  
      /*seccion 1 */
      .rectangulo {
        
        width: 90rem;
        max-width: 10000px;
        background-color: #212844;
        height: 316px;
        color: white;
        font-size: 25px;
        border-radius: 15px;
        margin: 2rem auto;
        padding: 1rem;
        align-items: center;
        justify-content:space-between;
        padding-left: 6%;
        
      }
      .fondoreloj {
        position: absolute;
        margin-left: 49%;
        margin-top: -13px;
      }


      .reloj-banner { 
      
        position: relative;
        object-fit: contain;
        display: flex;
        width: 300px;
        margin-left: 70%;
        height: 300px;
        margin-top: -225px;
      }

      .circulos{
        width: 150px;
        margin-top: -40px;
      }
    
      .botonderecho {
        position: absolute;
        margin-top: -197px;
        margin-left: 88rem;
      }

      .botonizquierdo {
        position: absolute;
        margin-top: -197px;
        margin-left: -10rem;
      }

      