    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #ffffff;
    
    }

    /* Encabezado */
    header {
      background-color: #fff;
      color: rgb(99, 136, 184);
      font-size: 20px;
      padding: 15px 20px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5px;
    }

    .main-header{
      background-color: #fff;
      display: flex;
      margin-right: 20px;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 10px;
    }

    .texto, .search-section, .right-content {
      display: flex;
      align-items: center;
      margin-right: 700px;
    }
    
    .iniciar-sesion, .botones{
      margin-right: 10px;
      
    }
    

    /*header 2 */
    .botones {
      background-color: #fff;
      text-align: center;
      height: 40px;
      
    }
    
  
      /*seccion 1 */
      .rectangulo {
        
        width: 90rem;
        max-width: 10000px;
        background-color: #212844;
        height: 316px;
        color: white;
        font-size: 25px;
        border-radius: 15px;
        margin: 2rem auto;
        padding: 1rem;
        align-items: center;
        justify-content:space-between;
        padding-left: 6%;
        
      }
      .fondoreloj {
        position: absolute;
        margin-left: 49%;
        margin-top: -13px;
      }


      .reloj-banner { 
      
        position: relative;
        object-fit: contain;
        display: flex;
        width: 300px;
        margin-left: 70%;
        height: 300px;
        margin-top: -225px;
      }

      .circulos{
        width: 150px;
        margin-top: -40px;
      }
    
      .botonderecho {
        position: absolute;
        margin-top: -197px;
        margin-left: 88rem;
      }

      .botonizquierdo {
        position: absolute;
        margin-top: -197px;
        margin-left: -10rem;
      }

      /* seccion 2 */
      .offer-section {
        margin-top: 10rem;
        margin-left: 140px; 
        margin-right: 140px;
        margin-bottom: -20px;
        border-bottom: 2px solid #008ECC;
      }
      .vista {
        margin-top: -20px;
        margin-left: 94rem;
        margin-bottom: 10px;
        
      }
       .telefono1 {
        margin-top: 5rem;
        margin-left: 9rem;
        width: 15rem;
    
       }

       .telefono2 {
          margin-top: -20rem;
          margin-left: 28rem;
          width: 20rem;
       }
       .telefono3 {
        position:relative;
        top: -28.5rem;    
        margin-left: 52rem;  
        width: 15rem;
         }

        .telefono4 {
          position: relative;
          top: -48.5rem;
          margin-left: 73rem;
          width: 15rem;
        }
        .imagen-fondo {
          position: relative;
          top: -26.5rem;
          margin-left: 137rem;
          width: 15rem;
        }
        .imagen-celu {
          position: relative;
          top: -46.5rem;
          margin-left: 140rem;
        }
        .pannel-azul {
          position: relative;
          top: -42.5rem;
          margin-left: -3.5rem;
        }

        .fondo-abajo {
          position: relative;
          margin-left: 137rem;
          top: -47rem;
          width: 15rem;
        }

        .precio-1 {
          position: relative;
          top: -51.5rem;
          margin-left: 138rem;
        }

        .precio-2 {
          position: relative;
          top: -52.7rem;
          margin-left: 143rem ;
        }
        .precio-3 {
          position: relative;
          top: -51.5rem;
          margin-left: 138rem;
        }
        .nombre-celu {
          position: relative;
          top: -54.5rem;
          margin-left: -8.5rem;
        }

        /* seccion 3 */

        .top-categorias {
          position: relative;
          top: -45rem;
          margin-left: 50rem;
        
        }
        
        .vista0 {
          position: relative;
          top: -45rem;
          margin-left: 49rem; 
        }

        .celular {
          position: relative;
          top: -42rem;
          margin-left: -43rem;
        }
  
        .crema1 {
          background-color: #f7ebeb;
          position: relative;
          top: -54rem;
          margin-left: -27rem;
        }
        .lavadora {
          background-color: #f7ebeb;
          position: relative;
          top: -65rem;
          margin-left: -12rem;
        }
        .fondosi {
          background-color: #f7ebeb;
          position: relative;
          top: -76rem;
          margin-left: 3rem;
        }
        .sillonn {
          position: relative;
          top: -87rem;
          margin-left: 3.5rem;
        }
        .fondorel {
          background-color: #f7ebeb;
          position: relative;
          top: -95rem;
          margin-left: 18rem;
          
        }
        .reloj2 {
          position: relative;
          top: -104.5rem;
          margin-left: 19rem;
        }
        .fondoplan {
          background-color: #f7ebeb;
          position: relative;
          top: -112rem;
          margin-left: 32rem;
        }
        .plantas {
          position: relative;
          top: -122.5rem;
          margin-left: 32.5rem;
        }
        .fondocollar {
          background-color: #f7ebeb;
          position: relative;
          top: -130.5rem;
          margin-left: 46rem;
        }
        .collar {
          position: relative;
          top: -70.5rem;
          margin-left: 23rem;
        }
        